@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  overflow-x: hidden;
}

@layer utilities {
  @media (max-width: 640px) {
    .bottom-40-small {
      bottom: -40%;
    }
    .top-40-small {
      top: -40%;
    }

    

  }
}